.projectWrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 3fr 2fr 1fr;
  grid-gap: 0;
  grid-auto-flow: row;
  background-color: #1A242E;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mask {
  grid-column: 3 / 5;
  grid-row: 2 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-mask-image: url(../assets/logo.png);
  mask-image: url(../assets/logo.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-clip: content;
  mask-clip: content;
  /*max-height: 600Px;
  min-width: 100%;*/
  /*width: 500px;*/
  mask-size: 100% auto;
  mask-position: center;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  display: none;
}

.border {
  border-right: 2px solid #29363D;
  /*height: 100vh;*/
  /*grid-column: 1;*/
  grid-row: 1 / 6;
}

#border0 {
  grid-column-start: 1;
}

#border1 {
  grid-column-start: 2;
}

#border2 {
  grid-column-start: 3;
}

#border3 {
  grid-column-start: 4;
}

#border4 {
  grid-column-start: 5;
}

.clippedImage {
  /*max-width: 100%;*/
  margin: 40px 0;
  height: 80vh;
}

.logoClip {

}