.wrapper {
  height: 100vh;
  width: var(--center-w);
  overflow: hidden;
  display: grid;
  grid-column: 1 / 12;
  grid-template-columns: var(--columns);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
}

.numberScroller {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* height: 90px; */
  margin-top: 38px;
  margin-left: 48px;
  padding: 0;
  height: 85px;
  overflow: hidden;
  position: relative;
  scroll-snap-type: x mandatory;
}

.number {
  width: 105px;
  font-size: 85px;
  line-height: 90px;
  font-weight: 600;
  vertical-align: top;
  font-family: 'Oswald';
  color: var(--dark-blue);
  transition-duration: .3s;
  height: 100%;
  /* margin-bottom: 100%; */
  scroll-snap-align: start;
}

.thumbScroller {
  display: flex;
  overflow: hidden;
  height: 100vh;
  grid-column: 1 / 6;
  grid-row: 1 / 8;
  z-index: 1;
  position: relative;
}

.thumbWrapper {
  height: 100vh;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
}

.thumb {
  min-height: 100%;
  max-height: 160%;
  min-width: 100%;
  max-width: 100%;
}

.textScroller {
  grid-column: 5 / 12;
  grid-row: 3 / 7 ;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
}

.textWrapper {
  min-width: 100%;
  width: 100%;
  height: 100%;
  /* margin-right: 100%; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.titleSection {
  z-index: 2;
}

.title {
  /*color: var(--black);*/
  grid-column: 1 / 8;
  grid-row: 1 / 2;
  -webkit-text-stroke: 2px var(--dark-blue);
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.title::first-letter {
  text-transform: capitalize;
}

.fill {
  text-fill: var(--dark-blue);
}

.subtitle {
  grid-column: 2 / 6;
  grid-row: 2 / 5;
  align-self: start;
  padding-left: 24px;
  /* grid-row: 3 / 4; */
  color: var(--medium-dark-desat);
}

.scroll {
  height: 66px;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-blue);
  will-change: color;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  transition-duration: .3s;
  grid-row: 8 / 8;
}

.scroll::first-letter {
  text-transform: capitalize !important;
}

.next {
  grid-column: 8 / 10;
  justify-content: flex-start;
}

.prev {
  grid-column: 6 / 8;
  justify-self: end;
  margin-right: 24px;
  justify-content: flex-end;
}

.scroll:focus {
  outline: none;
}

.scroll::after {
  content: ".";
}

.scroll:hover {
  color: var(--medium-dark-desat);
}

.visit {
  grid-column: 8 / 10;
  grid-row: 7 / 7;
}