/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Oswald:600,700|DM+Sans:400,400i,500,500i,700,700i&display=swap');
@import url("https://use.typekit.net/uqj4fml.css");
* {
  font-family: 'Poppins', sans-serif;
}

/*colors*/

* {
  --background: #F5FBFE;
  --extralight-blue: #EEF7FB;
  --light-blue: #D8E7EE;
  --medium-blue-desat: #C7D8E1;
  --medium-blue: #9DC6DC;
  --grey-blue: #6386A6;
  --medium-dark-desat: #455F78;
  --dark-blue: #273644;
  --black: #212121;
  --dark-grey: #2B2B2B;
  --light-grey: #8FA2B3;
}

/* hide scrollbar */

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/*layout*/

html {
  scroll-behavior: smooth;
}

* {
  --unit: 12px;
  --columns: 3fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  --nav-left-w: 168px;
  --nav-right-w : 120px;
  --center-w: calc(100vw - var(--nav-left-w) - var(--nav-right-w));
  box-sizing: border-box;
}

*:focus {
  outline: none;
  /* TODO replace this with global focus style for accessibility */
}


.titleSection {
  margin-bottom: 204px;
  margin-top: 120px;
  grid-column-start: 2;
  grid-column-end: 7;
  height: unset;
}

.titleSection h1 {
  white-space: nowrap;
}

.sectionSeparator {
  height: 132px;
  grid-column: 1 / 11;

}

/*fonts*/

h1 {
  font-weight: 600;
  font-size: 105px;
  line-height: 110px;
  color: var(--dark-grey);
  margin: 0;
  margin-bottom: 48px;
  transition-duration: .3s;
  /* will-change: color; */
  /* will-change: -webkit-text-stroke; */
  /* will-change: -webkit-text-fill-color; */
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: var(--dark-blue);
  margin: 0;
  margin-bottom: 36px;
  transition-duration: .3s;
  /* will-change: color; */
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--background);
  margin: 0;
  margin-bottom: 12px;
  transition-duration: .3s;
  /* will-change: color; */
}

p {
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: var(--grey-blue);
  margin: 0;
  font-family: 'DM Sans';
  transition-duration: .3s;
  will-change: color;
}

.logoText {
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.095em;
  color: var(--background);
  cursor: pointer;
  transition-duration: .4s;
}

.logoText:hover {
  color: var(--medium-blue-desat);
}

/*icons*/

.icon {
  width: 24px;
  fill: var(--dark-blue);
}

.navIcon {
  fill: var(--medium-blue-desat);
}

.navIcon.active {
  fill: var(--dark-blue);
}

.menuIcon {
  height: 24px;
  width: 24px;
  fill: var(--dark-blue);
}

.menuIcon.active {
  transform: rotateZ(180deg);
}