.App {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.navLeftWrapper {
  height: 100%;
  width: 168px;
  background-color: var(--dark-blue);
}

.navRightWrapper {
  height: 100%;
  width: 120px;
  background-color: var(--extralight-blue);
}

.middle {
  height: 100%;
  flex-grow: 1;
}

.linesWrapper {
  background-color: var(--background);
  display: grid;
  grid-template-columns: 3fr 4fr 4fr 4fr 4fr 4fr;
  grid-template-rows: auto;
  position: relative;
  z-index: -1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.gridLine {
  border-right: 2px solid var(--extralight-blue);
}

.contentContainer {
  display: grid;
  grid-template-columns: 3fr 4fr 4fr 4fr 4fr 4fr;
  grid-template-rows: auto;
}